name: Simple Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # Chọn version ổn định
      - run: flutter pub get
      - run: flutter test # Chạy test cơ bản (nếu không có file test nào nó vẫn báo success hoặc no test found, vẫn xanh)
      - run: flutter build apk --debug